form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f2f2f2;
  width: 300px;
  height: 300px;
}

div {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: plum;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #bad7ae;
}
