.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 24, 116);
    
    padding: 10px;
  }
  
  .navbar-item {
    text-decoration: none;
    color: wheat;
    padding: 10px;
  }
  
  .navbar-item.active{
    background-color: white;
  }
  