.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #9775cb;
    padding: 10px;
  }
  
  .navbar-item {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }
  
  