<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else productName">
          <input [(ngModel)]="editedProduct.name" placeholder="Name" required>
          <div class="error-message" *ngIf="isProductFormSubmitted && !editedProduct.name">Name is required.</div>
        </ng-container>
        <ng-template #productName>
          {{ product.name }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else productQuantity">
          <input [(ngModel)]="editedProduct.quantity" placeholder="Quantity" required>
          <div class="error-message" *ngIf="isProductFormSubmitted && !editedProduct.quantity">Quantity is required.</div>
        </ng-container>
        <ng-template #productQuantity>
          {{ product.quantity }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else productPrice">
          <input [(ngModel)]="editedProduct.price" placeholder="Price" required>
          <div class="error-message" *ngIf="isProductFormSubmitted && !editedProduct.price">Price is required.</div>
        </ng-container>
        <ng-template #productPrice>
          {{ product.price }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else editButtons">
          <button (click)="updateProduct()">Update</button>
          <button (click)="cancelEdit()">Cancel</button>
        </ng-container>
        <ng-template #editButtons>
          <button (click)="editProduct(product)">Edit</button>
          <button (click)="deleteProduct(product)">Delete</button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
