<table class="product-table">
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price }}</td>
      <td>
        <ng-container *ngIf="editedProduct?.id === product.id; else editButtons">
          <input [(ngModel)]="editedProduct.name" placeholder="Name" />
          <input [(ngModel)]="editedProduct.quantity" placeholder="Quantity" />
          <input [(ngModel)]="editedProduct.price" placeholder="Price" />
          <button (click)="updateProduct()">Submit</button>
          <button (click)="cancelEdit()">Cancel</button>
        </ng-container>
        <ng-template #editButtons>
          <button (click)="editProduct(product)">Edit</button>
          <button (click)="deleteProduct(product)">Delete</button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>